{{ partial "nextprev.html" . -}}
{{ partial "taglist.html" . -}}
</article>
</main>

<footer class="footer fixed-bottom bg-dark">
    <div class="row footer-text">
        <div class="col-12 col-md text-center text-md-left nav-link text-white">
            <a href="{{ .Site.BaseURL }}">
                {{- .Site.BaseURL -}} 
            </a>        
            {{ if .GitInfo }} | Last {{ if .IsHome }}site {{ else }}page {{ end }}commit:    
                {{- $gitInfo := .GitInfo }}    
                {{- if .IsHome }}        
                    {{- $pages := $.Site.Pages }}    
                    {{- $pages = sort $pages "Lastmod" "desc" }}
                    {{- $lastPage := (index ($pages) 0) }}
                    {{- $gitInfo = $lastPage.GitInfo }}        
                {{- end -}}
                <a href="https://github.com/muratcanakcay/Website/commit/{{ $gitInfo.Hash }}">{{- $gitInfo.AbbreviatedHash -}}</a>
                on <time datetime="{{ $gitInfo.AuthorDate.Format "2006-01-02T15:04:05Z07:00" }}">{{- $gitInfo.AuthorDate.Format "02.07.2006" -}}</time>        
            {{- end }}
        </div>   
    </div>    
    <!-- <br><br> -->
	<!-- <a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a> -->
    {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
    {{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}
    <script src="{{$js.RelPermalink}}" defer></script>
</footer>
</body>
</html>