
<div style="text-align:center">  
    <canvas id="graphBanner" width="800" height="100" style="background-color: #ffffff; border:1px solid #ffffff;"/>
</div>

<script>
    var viewport_width = document.documentElement.clientWidth;
    var new_viewport_width = viewport_width;
    
    var c = document.getElementById("graphBanner");    
    c.width = viewport_width >= 810 ? 800 : viewport_width*0.9;
    
    var ctx = c.getContext("2d");
    var x = 0;
    const r = 40;
    var step = 1;
    var id;
    
    DrawBanner(viewport_width);
        
    function DrawBanner() {
        id = setInterval(() => {
            if(new_viewport_width !== viewport_width)
            {   
                viewport_width = new_viewport_width;
                c.width = viewport_width >= 810 ? 800 : viewport_width*0.9;
            }
            
            ctx.clearRect(0, 0, c.width, c.height);            
            ctx.beginPath();
            ctx.arc(x+r, 50, r, 0, 2 * Math.PI);
            ctx.stroke();
            
            x += step;
            if (x > c.width - 2*r) { step = -1; }
            if (x < 0) { step = 1; }
        }, 10);
    }

    window.addEventListener('resize', function() {
		new_viewport_width = document.documentElement.clientWidth;
        console.log("new: ", new_viewport_width);
        clearInterval(id);
        DrawBanner();
    });
</script>