
<div style="text-align:center">  
    <canvas id="graphBanner" width="800" height="100" style="background-color: #ffffff; border:1px solid #ffffff;"/>
</div>

<script>
    var viewport_width = document.documentElement.clientWidth;
    var new_viewport_width = viewport_width;
    
    var c = document.getElementById("graphBanner");    
    c.width = viewport_width >= 810 ? 800 : viewport_width*0.9;
    
    var ctx = c.getContext("2d");
    var x = 0;
    const r = 4;
    var id;
    let circles = [[0, 40], [20, 40], [40, 40]]
    var steps = [[1,2], [1,0], [1,-2]];
    
    DrawBanner(viewport_width);
        
    function DrawBanner() {
        id = setInterval(() => {
            if(new_viewport_width !== viewport_width)
            {   
                viewport_width = new_viewport_width;
                c.width = viewport_width >= 810 ? 800 : viewport_width*0.9;
            }
            
            ctx.clearRect(0, 0, c.width, c.height);            
            circles.forEach(v => {
                ctx.beginPath();
                ctx.arc(v[0]+r, v[1], r, 0, 2 * Math.PI);
                ctx.stroke();
            })            
            
            for (var i = 0; i<3; i++)
            {
                circles[i][0] += steps[i][0];
                circles[i][1] += steps[i][1];
                if (circles[i][0] > c.width - 2*r) { steps[i][0] = -1; }
                if (circles[i][0] < 0) { steps[i][0] = 1; }
                if (circles[i][1] > c.height + r) { circles[i][1] = -r; }
                if (circles[i][1] < -r) { circles[i][1] = c.height + r; }
            }
        }, 50);
    }

    window.addEventListener('resize', function() {
		new_viewport_width = document.documentElement.clientWidth;        
        clearInterval(id);
        DrawBanner();
    });
</script>